@import "tailwindcss";

:root {
  --bg-color: #efefef;
}

body {
  background-color: var(--bg-color);
}

.fix-height {
  min-height: calc(100vh - 150px);
}

.overflow-height {
  height: calc(100vh - 150px);
}

button:disabled {
  cursor: not-allowed;
}
